$mainColor: #4a4a4a;

$green:#7da00c ;
$darkGreen: #688800;
$lightGreen: #bfd087;
$bgGreen:linear-gradient(320deg, #536614 15%, #97c20b 84%);

$azul: #009246;
$darkAzul: #116137;
$lightAzul: #8bdfb4;
$bgAzul:linear-gradient(320deg, #076534 15%, #00db69 82%);

$red: #d73a31;
$darkRed: #73120d;
$lightRed: #e8847e;
$bgRed:linear-gradient(320deg, #99160e 15%, #e84239 82%);

$orange: #e67f10;
$darkOrange: #bd690d;
$lightOrange: #f4b979;
$bgOrange:linear-gradient(320deg, #ba6400 15%, #ff9d34 82%);
